@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@400;700&display=swap');

@import "./variables";
@import "./mixins";
@import "./container";
@import "./header";
@import "./main";
@import "./section";
@import "./aside";
@import "./footer";

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    
}


